.Section {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

.Section--full {
  border: 3px solid;
  margin: 0px;
}


.Section--half .Section__content {
  border: 3px solid;
  margin: 0px;
  width: 50%;

}

.Section--half .Section__new {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;

}

